---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Mustafa Sahin
  </div>
  <div class="inline opacity-75">
    Built with <a href="https://astrofy-template.netlify.app/" target="_blank" class="font-bold">Astrofy Template</a> | 
    Proudly hosted on an old Android phone 📱⚡
  </div>
</footer>
<style></style>
